
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>StockAPP | Starter</title>
    <partial name="AdminLTE/_Styles" />
</head>
<body class="hold-transition login-page">

    @RenderBody()

    <partial name="AdminLTE/_Scripts" />
</body>
</html>
